<!DOCTYPE html>
<html>
<head>
	<title>Mayankist</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  	<!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/person.css">
	<script type="javascript" src="/js/person.js"></script>
</head>
<body>

<div class="container b1">
  <h1>Mayank Singh Thakur</h1>
  <br>
  <h6>I build Websites and an Artist</h6>
  <br><br><br>
  <h6 style="font-size:18px;">
    <a href="#myproject1">Projects</a>
    <a href="#mywebsite1">Website</a>
    <!-- <a href="#mywritings1">Writings</a> -->
  </h6>
</div>


	<div class="c1">
		<div class="row">
      <div class="col-md-4" style="padding:1% 5%;">
          <hr style="margin-bottom: 10%;">
           <h6 data-toggle="collapse" data-target="#mydeletebtn"><b>HIT ME UP</b></h6>
          <br>
          <a href="#" style="font-size:15px;">
            <i class="fa fa-map-marker fa-fw"></i>Bhopal, MP, India
          </a>
          <br><br>
          <a href="mailto:mayank.basoda2@gmail.com">
            <i class="fa fa-envelope fa-fw" data-toggle="tooltip" data-placement="top" title="mayank.basoda2@gmail.com"></i>
          </a>
          <a href="https://www.linkedin.com/in/mayank-singh-thakur-151010167/">
            <i class="fa fa-linkedin fa-fw"></i>
          </a>
          <a href="https://github.com/mayankist">
            <i class="fa fa-github fa-fw"></i>
          </a>
          <a href="https://www.facebook.com/profile.php?id=100011579887347">
            <i class="fa fa-facebook fa-fw"></i>
          </a>
          <a href="https://www.instagram.com/thakurmayank_/?hl=en">
            <i class="fa fa-instagram fa-fw" data-toggle="tooltip" data-placement="top" title="mayankthakur_._"></i>
          </a>
          <!-- <a href="https://www.youtube.com/channel/UCt1KRbMDZtntQt2kfkv1ykg?view_as=subscriber">
            <i class="fa fa-youtube fa-fw"></i>
          </a> -->
          <br><br>
          <h6 style="margin-left:10px">Open for collaborations and new ideas.</h6>
      </div>
			<div class="col-md-8">
				<div class="caption-full main">
          <h3 style="font-weight:600;">Bonjour!</h3>
          <br>
					<h6>I am a Web Developer and Designer, focused on things demanding more creativity and perfection. Always curious for building something more soothing to observe at. Currently working on Tensorflow, a google based platform to develop ML and AI based products. Besides all the technical stuff I'm learning French and love to draw paintings and sketches. </h6>
          <h6>In search of new opportunities and paving my way to something big ...</h6>
          <br><br><br>
          <a href="https://withweb.in" target="_blank" style="font-size:20px;padding-left: 0px;">
            <img src="/pics/l1.jpeg"> WithWeb
          </a>
          <br><br>
          <h6>It's my chance to pursue certain things that we say all the time and fear for making them so true. And somehow I made it possible for the first time with the help of a community of developers. I initiated this startup with the virtue of doing something away from the certain line of work I'm going to do for my lifetime. So going on with a pinch of motivation, let's see where it can go to an extent.
          <br><br>
          <a href="https://withweb.in" target="_blank" style="font-size:16px;color:steelblue;padding-left: 0px;">withweb.in</a>
          </h6>
          <!-- <h6>( To open the links below, click on the images )</h6> -->
				</div>
      </div>
    </div>
  </div>

        <div class="thumbnail t1" style="padding:0% 5%;margin-top: 5%;">
          <div class="caption-full">

            <h2 id="myproject1">Projects</h2>
            <br>
            <div class="row">
              <div class="col-md-4">
                <div class="thumbnail">
                  <a href="http://fooddie.herokuapp.com/phone" target="_blank">
                    <img src="/pics/foodie.png" class="shadow">
                  </a>
                  <div class="caption-full">
                    <h4 data-toggle="collapse" data-target="#mydrop5">Foodie <span>See More</span></h4>
                    <div class="collapse" id="mydrop5" style="text-align: justify;">
                      It is a website developed for <b>searching restaurants in your locality</b>(currently added three in my hometown). Here you can search shops and also <b>rate them</b>, so you can know that which is most popular and it has plenty of services. You can also <b>ask and comment</b>, and search for the better dishes accordingly from the menu. Currently looking for more possibilities in the project for further expansion.
                    </div><br>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="thumbnail">
                  <a href="http://vgramapp.herokuapp.com/vgram" target="_blank">
                    <img src="/pics/vgram.png" class="shadow">
                  </a>
                  <div class="caption-full">
                    <h4 data-toggle="collapse" data-target="#mydrop7">Vgram <span>See More</span></h4>
                    <div class="collapse" id="mydrop7" style="text-align: justify;">
                      My first approach to build a <b>social website</b>. Vgram is a website developed for <b>sharing pictures</b> and to review them. Here one can <b>post</b> the pictures, <b>comment</b> and <b>like</b> them. The user interface is all based on my experience with the previous web development skills.
                    </div><br>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="thumbnail">
                  <a href="http://inmop.herokuapp.com/" target="_blank">
                    <img src="/pics/inmop.png" class="shadow">
                  </a>
                  <div class="caption-full">
                    <h4 data-toggle="collapse" data-target="#mydrop8">In My Opinion <span>See More</span></h4>
                    <div class="collapse" id="mydrop8" style="text-align: justify;">
                      Hey everyone, imagine if authentication wouldn't be an issue within all the social sites present now, the ability to make statements anonymously would be something we wish for. And I agree, there will be serious drawbacks with that. So getting on this idea, I tried to build this site, where you can give your opinions anonymously, and certainly with several terms and conditions in order to use it.
                    </div><br>
                  </div>
                </div>
              </div>
              <div class="col-md-4"  style="margin-top:2%;">
                <div class="thumbnail">
                  <a href="http://roomantic.herokuapp.com/" target="_blank">
                    <img src="/pics/roomy.png" class="shadow" >
                  </a>
                  <div class="caption-full">
                    <h4 data-toggle="collapse" data-target="#mydrop1">Roomy.com <span>See More</span></h4>
                    <div class="collapse" id="mydrop1" style="text-align: justify;">
                      It is a website which provides information about the <b>rooms available in your locality</b>, based on the location and your very own preferences. It has the most frequent feature of <b>sorting rooms based on the preference</b> you give and show them on the map. No more hustle and chaos, just select and click, your room will be booked. You can also ask and share, right now it is in underdevelopment so until then enjoy this prototype!
                    </div><br>
                  </div>
                </div>
              </div>
              <div class="col-md-4"  style="margin-top:2%;">
                <div class="thumbnail">
                  <a href="http://myweatherapk.herokuapp.com/" target="_blank">
                    <img src="/pics/weather.png" class="shadow">
                  </a>
                  <div class="caption-full">
                    <h4 data-toggle="collapse" data-target="#mydrop2">My Weather App <span>See More</span></h4>
                    <div class="collapse" id="mydrop2" style="text-align: justify;">
                      It's a weather website, developed using <b>openweathermap.org</b> API. It shows the <b>current weather</b> data of any city all around the globe and the data of <b>next week's weather</b>(next seven days). Also one can see <b>current AQI</b> of any city(only if its population is greater than 5 lakh). This website is my first experience with APIs, so there's more to come soon. 
                    </div><br>
                  </div>
                </div>
              </div>
            </div><br><br>

            <h2 id="mywebsite1">Websites</h2>
            <br>
            <div class="row">
              <div class="col-md-4">
                <div class="thumbnail">
                  <a href="https://www.vschoolofpro.xyz/" target="_blank">
                    <img src="/pics/vschool.png" class="shadow"> 
                  </a>
                  <div class="caption-full">
                    <h4 data-toggle="collapse" data-target="#mydrop3">vschoolofpro.xyz <span>See More</span></h4>
                    <div class="collapse" id="mydrop3" style="text-align: justify;">
                      It is my first professional website which I developed for the venture <b>KaliKrshn Learning & Development Solutions Pvt Ltd. Mumbai</b>. It is an institutional website, created using my minimalistic approach for design and colours. Got an exceptional experience and exposure to what I will be doing in my further career.
                    </div><br>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="thumbnail">
                  <a href="https://www.turnkey.work/" target="_blank">
                    <img src="/pics/turnkey.png" class="shadow">
                  </a>
                  <div class="caption-full">
                    <h4 data-toggle="collapse" data-target="#mydrop6">turnkey.work <span>See More</span></h4>
                    <div class="collapse" id="mydrop6" style="text-align: justify;">
                      It's a static website which I developed for the venture <b>Turnkey Tech Solutions, Pune</b>. It is a corporate website, developed for the inforamtion regarding the venture.
                    </div><br>
                  </div>
                </div>
              </div>
            </div><br><br>

            <!-- <h2 id="mywritings1" style="font-weight:600;letter-spacing: 1px;margin-top: 4%;">Writings</h2>
            <br>
            <div class="row conp">
              <div class="col-md-2 col-4"><a href="/writings" target="_blank"><img src="/pics/conp2.jpg"></a></div>
              <div class="col-md-2 col-4"><a href="/writings" target="_blank"><img src="/pics/conp3.jpg"></a></div>
              <div class="col-md-2 col-4"><a href="/writings" target="_blank"><img src="/pics/conp1.jpg"></a></div>
            </div>
            <div class="caption-full" style="margin-top: 2%;">
              <a href="/writings" style="color:black;" target="_blank"><h5>Published on Intuitive Blogs by Vedic School<i class="fa fa-chevron-right" style="font-size: 13px;float:right;margin:1%;transform: none;"></i></h5></a>
            </div><br><br>

            <h4 id="myvideos1">Videos</h4>
            <div class="row">
              <div class="col-md-8">
                <div class="thumbnail">
                  <iframe width="100%" height="315" src="https://www.youtube.com/embed/6TfDrR9X92k" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  <div class="caption-full">
                    <h5 data-toggle="collapse" data-target="#mydrop4">My hands on fire(Harry Potter spell went wrong!!!) <i class="fa fa-chevron-right"></i></h5>
                    <div class="collapse" id="mydrop4" style="text-align: justify;">
                      It's my first experience on Adobe After Effects CC. Created this a while ago, seems like my magic spell went wrong!!! Now trying to put off the fire, don't know how. Till then enjoy the video and more stuff is coming soon.<br><br>
                      <h6>Software Used</h6>
                      <hr>
                      Adobe After Effects CC
                    </div><br>
                  </div>
                </div>
              </div>
            </div>
            <br> -->

            <!-- <h4 id="blinkline" style="text-align: center;">If got any work, or want to have your website developed, you can contact me through the links on left of the screen</h4> -->

          <!-- </div>
        </div><br><br> -->
        <h2>Say something</h2>
        <br>
        <div class="row t4">
          <div class="col-md-4">
          <form class="inform1" action="/index" method="POST">
            <div class="row">
              <input id="inputform" class="form-control inputform" type="text" name="data[name]" placeholder="your name " required>
              <br><br>
              <textarea id="inputform" maxlength="400" rows="5" class="form-control" type="text" name="data[text]" placeholder="recommend here..." required></textarea>
              <button class="btn">post</button>
            </div>
          </form>
          </div>
          <div class="col-md-6">
          <div class="row inform2">
          <% comment.forEach(function(comment){ %>
            <div class="col-md-12">
              <span class="incomment">
                <!-- <%= moment(comment.createdAt).fromNow() %> <br> -->
                <form class="delete-form" action="/index/<%=comment._id%>?_method=DELETE" method="POST">
                  <button type="submit" class="close collapse" value="Delete" id="mydeletebtn">
                    <span>&times;</span>
                  </button>
                </form>
              </span>
              <p>
                <strong><%= comment.name %> - </strong>
                <%= comment.text %>
              </p>
            </div>
            <br><br>
          <% }); %>
          </div>
          </div>
        </div>

<div class="lastbox">
  <div class="row">
    <div class="col-md-7">
      <hr>
      <br>
      <h6 style="line-height: 30px;">Thank you for reaching out, so concluding the website with my favourite quote,<br>
        <b style="letter-spacing: 1px;">"The ones who are crazy enough to think they can change the world, are the ones who do." - Steve Jobs</b>
      </h6>
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>