<!DOCTYPE html>
<html>
<head>
	<title>Mayankist - Writings</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/person.css">
	<script type="javascript" src="/js/person.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light justify-content-center">
	<div class="container">
  <a class="navbar-brand" href="#" style="margin-left: 20px;">Mayank Singh Thakur</a>
  <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
    <li class="nav-item">
      <a class="nav-link" href="/" tabindex="-1" aria-disabled="true">
      	Home <i class="fa fa-home fa-fw"></i>
      </a>
    </li>
  </ul>
  </div>
</nav>

<div class="con1" style="padding:5%;">
	<div class="row">
		<div class="col-md-6">
			<h5>
				<a href="https://vschoolofpro.xyz/blog/index.php/author/mayank-singh-thakur/">
              		Intutive Blogs
            	</a> (published) <i class="fa fa-book fa-fw"></i>
        	</h5>
        	<hr>
        	Got a wonderful opportunity to share my thoughts and experience. Never been too much grateful for this, and writing what I know and think is a whole another level of experience. Since I love to write about things around, and also with a believe that everything has a story.
            <br><br>
            Topics Shared ...
            <hr>
            <a href="https://vschoolofpro.xyz/blog/index.php/2020/09/02/perspective-theory/">
              <li>Perspective | Theory</li>
            </a>
            <hr>
            <a href="https://vschoolofpro.xyz/blog/index.php/2020/09/02/get-started-with-your-coding-activity/">
              <li>How To Write a Code For Beginners</li>
            </a>
            <hr>
            <a href="https://vschoolofpro.xyz/blog/index.php/2020/09/02/walking-for-free-shopping-discounts-more/">
              <li>Business Story: StepSetGo For Aatma Nirbhar Fitness</li>
            </a>
            <hr>
            <a href="https://vschoolofpro.xyz/blog/index.php/2020/08/21/how-to-enhance-your-virtual-participation/">
              <li>Zoom Etiquette For All</li>
            </a>
            <hr>
            <a href="https://vschoolofpro.xyz/blog/index.php/2020/08/21/characteristics-of-a-job-winning-resume/">
              <li>Resume Building | Tips</li>
            </a>
            <hr>
            <a href="https://vschoolofpro.xyz/blog/index.php/2020/08/20/how-to-make-a-static-website-like-a-pro/">
              <li>Designing A Website | Tips</li>
            </a>
            <hr>
            <a href="https://vschoolofpro.xyz/blog/index.php/2020/08/12/the-design-thinking-process/">
              <li>The Design Thinking Process</li>
            </a>
            <hr>
            <a href="https://vschoolofpro.xyz/blog/index.php/2020/08/12/experience-of-a-fresh-front-end-developer/">
              <li>Experience of a Fresh Front-end Developer</li>
            </a>
            <hr>
            <a href="https://vschoolofpro.xyz/blog/index.php/2020/08/12/time-warp/">
              <li>Time Warp</li>
            </a>
            <hr>
            <a href="https://vschoolofpro.xyz/blog/index.php/2020/08/08/summarizing-real-engineering/">
              <li>Summarizing Real Engineering</li>
            </a>
            <hr>
            <a href="https://vschoolofpro.xyz/blog/index.php/2020/08/06/professional-development-in-early-childhood/">
              <li>Professional Development in Early Childhood</li>
            </a><hr><br><br>
		</div>
		<div class="col-md-6">
			<h5>
              	Random things I write about ... <i class="fa fa-edit fa-fw"></i>
            </h5>
            <hr>
            <h6 type="button" data-toggle="modal" data-target="#myblogs1">
            	Unsuccessful Hallucination (My attempt to see Nowise comet)
            </h6>
<div class="modal fade" id="myblogs1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Unsuccessful Hallucination (My attempt to see Nowise comet)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="\pics\pic1.jpg" style="width: 100%;"><br><hr>
<b>There’s</b> always an astronomer hidden inside all of us wondering what is there inside the stars or galaxies, as a science student I can explain all of this but imagination is also a thing here. So, once I read somewhere about the comet called Nowise, passing some 64 million miles from our planet and will be again in sight after 6700 years, also can be seen through our naked eyes. I mean a comet I can observe while sitting on my roof. It is once in a lifetime opportunity. So I searched about it and the location where it ought to be seen and waited for the time when it is actually in sight, maybe mid of July. They said it would be seen in early morning just before sunrise and just after the sunset at the time interval of twenty minutes or so. <br><br>
On 17th of July at 6:30 pm with my younger brother, leave the town to have the maximum glimpse of a comet. The weather was hazy and sky is partially covered with clouds. Somewhere I got the idea that today I could not see it, but there’s also a hope. We reached to a fine spot away from the city lights and there is still a time left for perfect hue of evening. For that purpose I already had downloaded comet app for locating the comets. So on dragging my phone to that direction, guess what we have found. Clouds, a big chunk of cloud seems to be making fun of us. We waited for half an hour but can’t see it, and at last taking our hopes to ground we went back. <br><br>
Another day, another dusk, I decided to go again, and made my friends agree to come along. But again clouds ditched us, we ate patties and went back home. For day or two the cycle continues, than on 22nd of July the day comes when it is nearest to earth. And I know today is the day, so what I did, can you guess? I didn’t go there. Don’t know why, but my mind had accepted the fact that I cannot see it. Or I am being totally subjugated by my prior attempts that made me uninterested to see it again. The journey of thoughts, so much consumed by posting its picture on my Insta feed to genuinely uninterested to even get a little glimpse, ended here, right in this blog. <br><br>
I hope someone is also trying hard to say hi to Nowise, they even say that comets are the old souls wandering in this infinite universe. May be sometime my fate get struck and I could also have the chance to see it. It’s all hallucination.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
            <hr>
            <h6 type="button" data-toggle="modal" data-target="#myblogs2">
            	Indian Music Diary
            </h6>
<div class="modal fade" id="myblogs2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Indian Music Diary</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
In early 1990s, with the introduction of British-Indian fusion band Monsoon, the era started where away from mainstream music industry such as Bollywood, Pop and Indie music slowly made its mark in India. Pop music began gaining popularity across the Indian subcontinent with the introduction of so many new artists creating unique fan base. It increases with the years passed by and now has millions of listeners. There’s no doubt that when it comes to music, a country like India has not only been open toward the drastically changing music scene globally, but also has accepted it with an open heart. This has pushed its indie scene forward in turn. <br><br>
There are so many artists who created a trend in music with their singles launched and made everybody dance on their steps. Such as Daler Mehndi, who back then is a huge sensation globally and even now people listen to his song. The launch of MTV India and Channel V also gave a huge push to Indie-pop music and influenced the youth. By 2006, the Indian music industry had already seen the emergence of experimental music and videos. With the introduction of Youtube, began the change in scene and its access made independent artists to have a platform where they can perform and can gain huge following. The indie music genre slowly picked up and after 2009 many youths caught up with this music industry. <br><br>
Every one of us knows the era of introduction to hip-hop, rap and Punjabi songs globally in 2011 with the launch of album International Villager everyone in country somewhere vibing with the lyrics. With the popularity of this genre many old rappers and new ones got attention. Indian audiences now know the taste of independent music. Artists like EmiWay, Divine and Darshan Raval are coming out with amazing creations which have raised the bar for other budding artists. <br><br>
There’s no doubt that indie music culture is on the rise in India. It isn’t limited to India either, since people living abroad tend to support Indian artists and artists from India hold shows worldwide. Artists are becoming sudden stars nowadays. The basic necessity is the beat they use and also the lyrics, with the new artists you can find many of them mesmerizing. Indie and pop music was still emerging as its own genre of music. Independent music and hip-hop were still fairly unknown to the general public. Now hip-hop has evolved a lot since then and younger rappers and singers are coming up with their own styles and sounds. 
The popularity to the genre is not unfounded, as Barack Obama’s favourite songs of the year list featuring Delhi-based singer-songwriter Prateek Kuhad showed. So many artists are now there and many more are doing their best to be on our playlists, but the thing is art should always be evolved.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
            <hr>
            <h6 type="button" data-toggle="modal" data-target="#myblogs3">
            	Pop Culture in India
            </h6>
<div class="modal fade" id="myblogs3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pop Culture in India</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
Whenever there’s a discussion of international brands, a variety of fashion and its belongings, you are welcome to pop culture. It’s a wide array of modern ethics transmitted via the mass media and aimed particularly at younger people. Many major brands such as Nike, promoted this culture worldwide and now we can’t ignore its domination on millenials in India. The entertainment industry plays a major role, since it is the place where pop is born. Of course I am talking about Michael Jackson, the king of pop. And here in India it is mass media. You know it when you come to the Internet, listen to music, watch television, app-gaming or go to a movie, concert or stage show. You know the artists, the actors and actresses, sports personalities and the games they play. Today, anything with a buzz is deemed pop culture. <br><br>
If a collection of thoughts, ideas, attitudes, perspectives, images preferred by the mainstream population, say thanks to OTT platforms and Instagram. A huge group is fascinated by the stories and ideas that anything related to their favourite one becomes a culture. They hear what is in trend, they follow what they like and if mentality is same then it’s a pop culture. One can find a huge fan base of Avengers and Game of Thrones here, even a late 90’s shows such as FRIENDS is a sensation among the youth of India. <br><br>
In the late 80’s when the pop culture is introduced in the form of music, the community which welcomes it freehandedly were hipsters. Similar pattern can be observed in the Indian music industry. With the introduction of variety of local music and new artists and somehow the change of taste in the new genres, the pop culture is now much popular than the major music labels. The new artists have a huge fan base, such as Prateek Kuhad, Ankur Tiwari and bands like The Local Train got millions of views. Talking of this we get another source of pop culture, Youtube, yes it is that platform, which can be reached to anyone anywhere on this planet and with that the trends also travel. Major genre’s of music such as indie and pop gain popularity via Youtube. <br><br>
Today, the country has a large base of young population and they are the one who changes trends, in fact cultures are determined by the interests they poses, so what is pop here.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
            <hr>
            <h6 type="button" data-toggle="modal" data-target="#myblogs4">
            	Social Media
            </h6>
<div class="modal fade" id="myblogs4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Social Media</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
In early 2000, the only source of information is the cellphone and television. And if want to go through paparazzi and other glamour stuff there are very limited sources such as newspapers and magazines or some over the top advertisement agencies depicting actors from cult cinema. With the introduction of internet it went to actual hype in twenty first century on arrival of Twitter, Youtube, linkedin and many other social sites (all thanks to most famous PayPal Mafia) offering services that no one can imagined before. This whole havoc of social platforms that enable users to create and share content or to participate in social networking is termed to be Social Media.  <br><br>
For individuals, social media is used to keep in touch with friends and extended family. Some people will use various social media applications to network career opportunities, find people across the globe with like interests, and share their thought, feelings, insight, and emotions. Talking back when the social media got the major boom is with the overnight achiever Facebook, a site which in just a month of its launch is used by all the major university students in America. <br><br>
Facebook changes the definition of social media, with the established assumption of sharing only news and stuff. The sharing of personal pictures and information is the new cool and “Facebook me” was the common term between the students. After this the number of social sites were introduced such as WhatsApp, Instagram, Snapchat, Tinder, Reddit and the list is endless. Instagram even changed the way of networking and social endorsement. Major celebrities and sports personality now use Instagram and it becomes the major income source. All the brands in the world would prefer publishing an ad on instagram rather than on television. Because the user reach is way more high on insta and it is increasing daily with the number of user base the social media has. <br><br>
<b>Is social media safe for everyone?</b> <br><br>
There are many factors that reduce the trust of a user to be totally rely on social media. The major issue is with the sharing of personal information of a user for their important data. There are many cases emerged last year regarding personal information theft from a technology giant of their user base. It is found that they shared the major data and created the harmful impact for the national security.
Hate speech is also considered a factor where user is totally harassed by the unknown account or a person. And sometimes the single fall information can also create the situations of civil war inside the country. But it is powerful, since in the recent case of Hong-Kong where social media emerges out to be the only source for the international attention. So it finally depends on you, like how you use it. There are lots of endless opportunities on these platforms the major factor necessary is your perspective.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
            <hr>
            <h6 type="button" data-toggle="modal" data-target="#myblogs5">
            	Steve Jobs by Walter Isaacson (Book Review)
            </h6>
<div class="modal fade" id="myblogs5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Steve Jobs by Walter Isaacson (Book Review)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
There are some biographies which inspires you so legit to being that man. This book, a biography of a Silicon Valley magnus, Steve Jobs, takes you to another world of smart minded people working there sweat off on amazing ideas. If you read it, then it is sure that you will be mesmerized by his personality, the passion and that dazzling impatience in the eyes. The whole story, in fact each phase of his life is revolved around innovation and inventions creating a burning desire to develop impossible. <br><br>
If you mix consistency and ideas with a pinch of art in it using the ratio perfectly, then an Apple product is born. The perfectness which excites Jobs creates the huge difference in Apple and other competitive brands. The book shows that if you work on your ideas and believe in your efforts than anything is possible. The favorite part of the book was when the first iPhone is launched, the whole strategy they make to assemble and built its parts, and then the final launch event. The whole crowd was excited to see the new product and Jobs came on stage and announced that now everything is possible on a single device and it is in his pocket. The lights focused there and he took out a slick black device, an iPhone. Everyone went crazy all over the world when they saw iPhone, the coolest gadget ever launched and it made the Apple a benchmark brand. <br><br>
<b>Gates and Jobs, When Orbits Intersect</b> <br><br>
It is my favorite chapter of the book, which still gives me goose bumps. Everyone had heard about the famous rivalry between Microsoft and Apple about the products they created and their operating system UI. For the first thirty years of the personal computer age, beginning in the late 1970s, the defining binary star system was composed of two high-energy college dropouts both born in 1955. <br><br>
Gates was good at computer coding and his mind was more practical, disciplined, and abundant in analytic processing power, unlike Jobs. Who is more intuitive and had a greater instinct for making technology usable, design delightful, and interfaces friendly. He had a passion for perfection, which made him fiercely demanding. They have to collide at some point of their life and the time comes when they build the similar OS containing lookalike user interface. Jobs argued about the design for the UI to be his idea and the debate then created into something big topic of history. <br><br>
The book ultimately is a journey you will never want to miss. For technology enthusiasts and those who followed Steve Jobs’s life as though he were Bob Dylan, the biography reinforces the previously known timeline to be its major ingredent. To make your day, Job’s quote for the first ad of an Apple.
“Here’s to the crazy ones, the misfits, the rebels, the troublemakers, the round pegs in the square holes… the ones who see things differently - they’re not fond of rules… You can quote them, disagree with them, glorify or vilify them, but the only thing you can’t do is ignore them because they change things… they push the human race forward, and while some may see them as the crazy ones, we see genius, because the ones who are crazy enough to think that they can change the world, are the ones who do.”
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
            <hr>
            <br>
            <div class="row myhiddenimg">
            	<div class="col-md-4">
            		<img src="/pics/conp1.jpg" style="width: 100%;">
            	</div>
            	<div class="col-md-4">
            		<img src="/pics/conp2.jpg" style="width: 100%;">
            	</div>
            	<div class="col-md-4">
            		<img src="/pics/conp3.jpg" style="width: 100%;">
            	</div>
            </div>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>